<template name="appBody">
    <div class="container-fluid">

        <section id="menu">
            <div class="dropdown">
                <span class="dropdown-toggle glyphicon glyphicon-menu-hamburger btn btn-default"
                      style="cursor: pointer;"
                      id="menuDDM" data-toggle="dropdown" aria-expanded="true">
                </span>
                <ul class="dropdown-menu" role="menu" aria-labelledby="menuDDM">
                    {{#each commands}}
                        {{>command}}
                    {{/each}}
                </ul>
            </div>

        </section>

        <div class="container-centered">

            {{#unless connected}}
                <div class="notifications">
                    <div class="notification">
                        <span class="icon-sync"></span>

                        <div class="meta">
                            <div class="title-notification">Trying to connect</div>
                            <div class="description">There seems to be a connection issue</div>
                        </div>
                    </div>
                </div>
            {{/unless}}

            {{#if errorsExist}}
                <div class="notifications">
                    <div class="notification">
                        <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>

                        {{#each errors}}
                            <div class="meta">
                                <div class="title-notification">Error {{error}}</div>
                                <div class="description">{{reason}}</div>
                            </div>
                            <br />
                        {{/each}}
                    </div>
                </div>
            {{/if}}

        </div>


        <div id="content-container">
            {{#each thisArray}}
                {{> yield}}
            {{/each}}
        </div>
    </div>
</template>

<template name="command">
    {{#if is_divider}}
        <li class="divider"></li>
    {{/if}}
    {{#unless is_divider}}
        <li><a style="cursor: pointer;" href="{{href}}" title="{{title}}">{{text}}</a></li>
    {{/unless}}
</template>