<template name="appBody">
    <div class="container-fluid">

        <section id="menu">
            <div class="dropdown">

            <span class="dropdown-toggle glyphicon glyphicon-menu-hamburger btn btn-default"
                  style="cursor: pointer;"
                  id="menuDDM" data-toggle="dropdown" aria-expanded="true">
            </span>
                <ul class="dropdown-menu" role="menu" aria-labelledby="menuDDM">
                    <li role="presentation">

                        <a role="menuitem" tabindex="-1" href="#">
                            <span id="btnPause" class="glyphicon glyphicon-pause" style="cursor: pointer;">Pause Session</span>
                        </a>
                    </li>

                </ul>
            </div>
        </section>

        {{#unless connected}}
            <div class="notifications">
                <div class="notification">
                    <span class="icon-sync"></span>

                    <div class="meta">
                        <div class="title-notification">Trying to connect</div>
                        <div class="description">There seems to be a connection issue</div>
                    </div>
                </div>
            </div>
        {{/unless}}

        {{#if errorsExist}}
            <div class="notifications">
                <div class="notification">
                    <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>

                    {{#each errors}}
                        <div class="meta">
                            <div class="title-notification">Error {{error}}</div>
                            <div class="description">{{reason}}</div>
                        </div>
                        <br />
                    {{/each}}
                </div>
            </div>
        {{/if}}


        <div id="content-container">
            {{#each thisArray}}
                {{> yield}}
            {{/each}}
        </div>
    </div>
</template>