<template name="clients">

    <div class="container">

        <h1>Clients</h1>

        {{#if zero_clients}}
            <div class="wrapper-message">
                You don't have any clients listed.  Enter one below to get started.
            </div>
        {{/if}}

        {{#each clients}}
            <div class="container">
                <div class="row" style="margin: 10px;">
                    <div class="col-xs-3 col-md-4" >
                        <button id="btnStartSession" type="button" class="btn btn-info">
                            Sessions
                            <span class="glyphicon glyphicon-menu-right" style="cursor: pointer;" ></span>
                        </button>
                    </div>
                    <div class="col-xs-3 col-md-2">
                        <h3 style="margin: 5px;">{{name}}</h3>
                    </div>
                    <div class="col-xs-3 col-md-3">
                        <!--can put more stuff here like last session notes-->
                    </div>
                </div>
            </div>

        {{/each}}

        <br />
        <form class="js-todo-new todo-new input-symbol col-md-4">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Type to add a new client">
            </div>
        </form>


    </div>

</template>