<template name="sessions">

    <div class="container">

        <div class="container">

            {{#unless askingQuestions}}
                <h1>
                    {{currentClient.name}}
                </h1>
            {{/unless}}

            {{#if currentSession}}
                {{>sessionInProgress currentSession}}
                <br />
                <br />
            {{/if}}

            {{#unless currentSession}}
                <div class="container">
                    <button id="btnNewSession" type="button" class="btn btn-info">
                        New Session
                        <span class="glyphicon glyphicon-flash"></span>
                    </button>
                </div>
            {{/unless}}

            {{#unless askingQuestions}}
                <hr/>

                <h3>Prior Sessions</h3>
                <br />
                {{#unless priorSessions.length}}
                    No prior sessions
                {{/unless}}
                {{#each priorSessions}}
                    {{>priorSession}}
                {{/each}}
            {{/unless}}

        </div>
    </div>

</template>

<template name="sessionInProgress">

    {{#if askingQuestions}}
        {{>sessionAskQuestions}}
    {{/if}}
    {{#unless askingQuestions}}
        <h3>Current Session</h3>
        {{>sessionManage}}
    {{/unless}}

</template>

<template name="sessionAskQuestions">
    <div class="container">

        <button id="btnPause" type="button" class="btn btn-default btn-top-right" style="border: none;">
            <span class="glyphicon glyphicon-pause" ></span>
        </button>

        {{#if currentQuestion}}
            <div class="container col-md-11 question-container">
                <div class="row">
                    <div style="text-align: center">
                        <h3>
                            Word like: <b>{{word}}</b>
                        </h3>
                    </div>
                    <br />
                </div>
                <div class="row">
                    {{#each answer_options}}
                        <div class="col-md-3">
                            <div class="answer jumbotron"  style="text-align: center; margin: 5px; cursor: pointer">
                                {{this}}
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
        {{/if}}
        {{#unless currentQuestion}}
            <div class="container col-md-11">
                <div class="row">
                    <div style="text-align: center">
                        <h3>All questions answered!</h3>
                    </div>
                    <br />
                </div>
            </div>
        {{/unless}}


    </div>
</template>

<template name="sessionManage">
    <div class="container">

        <div class="row col-md-11" style="margin: 10px;">
            <div class="col-md-5" >
                {{#unless startDT}}
                    <button id="btnStartSession" type="button" class="btn btn-info">
                        Start Session
                        <span class="glyphicon glyphicon-play" ></span>
                    </button>
                {{/unless}}
                {{#if pauseDT}}
                    <button id="btnStartSession" type="button" class="btn btn-info">
                        Resume Session
                        <span class="glyphicon glyphicon-play" ></span>
                    </button>
                {{/if}}
                {{#if startDT}}
                    <button id="btnEndSession" type="button" class="btn btn-info">
                        End Session
                        <span class="glyphicon glyphicon-stop" ></span>
                    </button>
                {{/if}}
            </div>
            <div class="col-md-3">
                <h5 style="margin: 5px;">Created</h5>
                {{formatDT createDT}}
            </div>
            <div class="col-md-3">
                {{#if startDT}}
                    <h5 style="margin: 5px;">Started</h5>
                    {{formatDT startDT}}
                {{/if}}
            </div>
        </div>

        <div class="row col-md-11">
            <br />
            <h4>Questions</h4>
            <br />
            {{#unless questions.length}}
                No questions, add some by clicking the button
            {{/unless}}
            {{#if questions.length}}
                <table class="table table-striped">
                    <thead>
                    <td>
                        Word
                    </td>
                    <td>
                        Synonym
                    </td>
                    <td>
                        Distractors
                    </td>
                    <td>
                        &nbsp;
                    </td>
                    </thead>
                    <tbody>
                    {{#each questions}}
                        {{>sessionQuestion}}
                    {{/each}}
                    </tbody>
                </table>
            {{/if}}

            <button id="btnAddQuestion" type="button" class="btn btn-info">
                Add Question
                <span class="glyphicon glyphicon-plus" ></span>
            </button>


        </div>

    </div>
</template>

<template name="sessionQuestion">

    <tr>
        <td>
            <input id="inpWord" type="text" value="{{word}}"
                   placeholder="enter word" class="form-control"
                   style="background-color: transparent" />
        </td>
        <td>
            <input id="inpSynonym" type="text" value="{{synonym}}"
                   placeholder="enter synonym" class="form-control"
                   style="background-color: transparent" />
        </td>
        <td>
            {{#each distractors}}
                <div style="margin: 10px;">
                    <span>{{this}}</span>
                    <span
                            id="btnDeleteDistractor"
                            class="glyphicon glyphicon-remove-sign" aria-hidden="true"
                            style="cursor: pointer;"></span>
                </div>
            {{/each}}
            <input id="inpAddDistractor" type="text"
                   placeholder="add distractor" class="form-control"
                   style="background-color: transparent" />
        </td>
        <td>
            <span id="btnDelete" class="glyphicon glyphicon-trash" aria-hidden="true" style="cursor: pointer;"></span>
        </td>
    </tr>

</template>

<template name="priorSession">
    <div class="container">

        <div class="row">
            <div class="col-xs-4 col-md-3">
                <span class="detail-label">started</span>
                <b>{{formatDT startDT}}</b>
                {{#unless notes}}
                    <button id="btnNotes" type="button" class="btn btn-default btn-xs">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                {{/unless}}
                {{#if notes}}
                    <button id="btnNotes" type="button" class="btn btn-danger btn-xs">
                        <span class="glyphicon glyphicon-envelope"></span>
                    </button>
                {{/if}}

            </div>
            <div class="col-xs-4 col-md-3">
                <span class="detail-label">ended</span>
                <span style="font-size: 12px">{{formatDT endDT}}</span>
            </div>
        </div>

        <br />

        <div class="container">
            {{#each questions}}
                {{>priorSessionQuestion}}
            {{/each}}

        </div>

        <hr />
        <br />

    </div>
    <div class="container">

        <div class="row col-md-12" style="margin: 10px; display: none">
            <div class="col-xs-4 col-md-3" >
                <a href="/session/{{_id}}" type="button" class="btn btn-info">
                    View
                    <span class="glyphicon glyphicon-menu-right" style="cursor: pointer;" ></span>
                </a>
            </div>

        </div>

    </div>
</template>

<template name="priorSessionQuestion">
    <div class="row">

        <div class="col-md-2">
            <span class="detail-label">word</span>
            <span class="label label-primary">{{word}}</span>
            {{#unless notes}}
                <button id="btnNotes" type="button" class="btn btn-default btn-xs">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
            {{/unless}}
            {{#if notes}}
                <button id="btnNotes" type="button" class="btn btn-danger btn-xs">
                    <span class="glyphicon glyphicon-envelope"></span>
                </button>
            {{/if}}
        </div>

        <div class="col-md-7">
            <span class="detail-label">responses
                <span class="badge">{{answers.length}}</span>
            </span>
            {{#each answers}}
                {{#if is_answer_correct this}}
                    <span class="label label-success">{{this}}</span>
                {{/if}}
                {{#unless is_answer_correct this}}
                    <span class="label label-warning">{{this}}</span>
                {{/unless}}
            {{/each}}
            {{#each distractors_not_selected}}
                <span class="label label-default">{{this}}</span>
            {{/each}}
        </div>

        {{#if currentSession}}
            <div class="col-md-2">
                <button id="btnAskAgain" type="button" class="btn btn-default btn-sm">
                    Ask Again
                    <span class="glyphicon glyphicon-open"></span>
                </button>
            </div>
        {{/if}}

    </div>
    <br />
</template>