<template name="synonyms">

    <div class="page lists-show">
        <nav class="js-title-nav">

            <div class="nav-group">
                <a href="#" class="js-menu nav-item"><span class="icon-list-unordered"></span></a>
            </div>

            <h1 class="title-page" style="cursor: default;"><span class="title-wrapper">Synonyms</span> <span class="count-list">1</span></h1>

            <form class="js-todo-new todo-new input-symbol">
                <input type="text" placeholder="Type to search for words">
                <span class="icon-add js-todo-add"></span>
            </form>
        </nav>


        <div class="content-scrollable list-items">
            <div class="wrapper-message">
                <div class="title-message">Loading words...</div>
            </div>
        </div>
    </div>


</template>