<template name="synonyms">

    <div class="page lists-show">
        <nav class="js-title-nav">

            <div class="nav-group">
                <a href="#" class="js-menu nav-item"><span class="icon-list-unordered"></span></a>
            </div>

            <h1 class="title-page" style="cursor: default;"><span class="title-wrapper">Synonym Questions</span>
                <!--<span class="count-list">1</span>-->
            </h1>

            <form class="js-todo-new todo-new input-symbol">
                <input id="inpSearch" type="text" placeholder="Type to search for words" autocomplete="off">
                <span class="icon-generic">
                    <span class="glyphicon glyphicon-search"></span>
                </span>
            </form>
        </nav>

        <div class="content-scrollable list-items">

            {{#unless selectedWord}}
                <div class="wrapper-message">
                    Search for a word up top ^
                </div>
            {{/unless}}
            {{#if selectedWord}}
                {{>synonymWord selectedWord}}
            {{/if}}
        </div>
    </div>


</template>

<template name="synonymWord">

    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-md-2">
                <h2>Word: {{word}}</h2>
            </div>
        </div>
    </div>
    <hr/>

    {{#if newQuestion}}
        {{>question_create}}
    {{/if}}

    {{#unless newQuestion}}
        <div class="container">
            <h4>Existing Questions
                <span id="btnNewQuestion" class="glyphicon glyphicon-plus" style="cursor: pointer;"
                      title="Create a new question"></span>
            </h4>

            {{#each existingQuestions}}
            <div class="row col-md-9">
                <div class="col-xs-6 col-md-3">
                    question
                </div>
            </div>
            {{/each}}
        </div>
    {{/unless}}



</template>

<template name="question_create">

    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-md-2">
                <h4>New Question
                    <span id="btnCancelQuestion" class="glyphicon glyphicon-remove" style="cursor: pointer;"
                            title="Discard this question"></span>
                </h4>

                {{#if validQuestion}}
                    <button id="btnSaveQuestion" type="button" class="btn btn-info">
                        Save
                        <span class="glyphicon glyphicon-floppy-save" style="cursor: pointer;" ></span>
                    </button>
                {{/if}}
            </div>

            <div class="col-xs-6 col-md-2">
                <h5>Question</h5>
                Find the word that means the same as <b>{{word}}</b>.
            </div>
            <div class="col-xs-6 col-md-2">
                <h5>Synonym</h5>
                {{#if synonym}}
                    <div class="synonym-selected">
                        {{synonym}}
                    </div>
                    <h6>tap to change</h6>
                {{/if}}
                {{#unless synonym}}
                    <h6>select below</h6>
                {{/unless}}
            </div>
            <div class="col-xs-6 col-md-2">
                <h5>Distractors</h5>
                {{#if distractors}}
                    {{#each distractors}}
                        <div class="distractor">{{this}}</div>
                    {{/each}}
                    <h6>select more if desired</h6>
                {{/if}}
                {{#unless distractors}}
                    <h6>select below</h6>
                {{/unless}}
            </div>
        </div>
    </div>

    {{#unless synonym}}
    <div class="container">
        <hr/>
        <h4>Synonyms</h4>

        <div class="row col-md-9">
            {{#each synonyms}}
                <div class="col-xs-6 col-md-3 synonym">
                    {{this}}
                </div>
            {{/each}}
        </div>

    </div>
    {{/unless}}



    <div class="container">
        <hr/>
        <h4>Antonyms</h4>
        <div class="row col-md-9">
            {{#each antonyms}}
                <div class="col-xs-6 col-md-3 distractor">
                    {{this}}
                </div>
            {{/each}}
        </div>
    </div>

    <div class="container">
        <hr/>
        <h4>Other Words
            <span id="btnRefresh" class="button-refresh glyphicon glyphicon-refresh" aria-hidden="true"></span>
            <input id="randWordSearch" placeholder="search"/>
        </h4>

        <div class="row col-md-9">
            {{#each randomWords}}
                <div class="col-xs-6 col-md-3 distractor">
                    {{word}}
                </div>
            {{/each}}
        </div>
    </div>

</template>